@model PasswordEditViewModel

<div id="password" class="tab-pane">
    <div class="jumbotron form">
        <form method="post" id="password_update" asp-controller="@AccountIndexLink" asp-action="editpassword" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <input asp-for="OldPassword" class="form-control text-13px" placeholder="ძველი პაროლი" />
                <span asp-validation-for="OldPassword" class="text-danger text-11px"></span>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control text-13px" placeholder="ახალი პაროლი" />
                <span asp-validation-for="NewPassword" class="text-danger text-11px"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmNewPassword" class="form-control text-13px" placeholder="გაიმეორეთ პაროლი" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger text-11px"></span>
            </div>
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger text-11px"></div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="form-control btn btn-sm btn-success text-12px">განახლება</button>
            </div>
        </form>
    </div>
</div>