<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-multiselect/css/bootstrap-multiselect.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/jquery-confirm//jquery-confirm.min.css" />
    <link rel="shortcut icon" href="~/imgs/lib.png" />
</head>
<body>
    <header>
        <nav class="sidebar navbar navbar-expand-sm navbar-toggleable-sm navbar-dark naviblue-menu border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Library Web App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_UserPartial" />
                    <partial name="_MenuItemsPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h4 class="p-2"><i class="far fa-file-alt">&nbsp;</i>@ViewBag.Title</h4>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-12px">
            &copy; 2021 - Library.WebApp - <a asp-area="" asp-controller="home" asp-action="index">მთავარი გვერდი</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toastr.js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="~/jquery-confirm/jquery-confirm.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
