<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/imgs/lib.png" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toastr.js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="~/jquery-confirm/jquery-confirm.min.js"></script>
    @RenderSection("Scripts", required: true)
</body>
</html>
