@using Microsoft.AspNetCore.Identity
@using Library.Data.Entities
@using Library.Common
@using Library.Common.Enums
@using static Library.Common.GlobalVariables

@inject SignInManager<User> SigninManager
@inject UserManager<User> Usermanager

@{
    var authUser = await Usermanager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SigninManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-sm text-light mt-2 naviblue-menu dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-13px">@string.Concat(authUser.FirstName, Space, authUser.LastName)</span>
                </button>
                <div class="dropdown-menu text-12px text-center" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="account" asp-action="profile">პროფილი</a>
                    <div class="text-center">
                        <form class="" asp-controller="auth" asp-action="logout" method="post">
                            <button type="submit" class="btn btn-sm btn-danger mt-2 text-11px text-light"><i class="fas fa-sign-out-alt">&nbsp;</i>გასვლა</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>