@model UserEditViewModel
@using Microsoft.AspNetCore.Identity
@using Library.Data.Entities

@inject UserManager<User> UserManager

@{ 
    var authUser = await UserManager.GetUserAsync(User);
}
<form method="post" asp-controller="account" asp-action="">
    <div class="form-group">
        <input asp-for="FirstName" class="form-control" value="@authUser.FirstName" />
    </div>
    <div class="form-group">
        <input asp-for="LastName" class="form-control" value="@authUser.LastName" />
    </div>
    <div class="form-group">
        <input asp-for="Email" class="form-control pb-1" value="@authUser.Email" /><br />
        <input asp-for="ConfirmEmail" class="form-control"  value="@authUser.Email" />
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-success float-right">დამახსოვრება</button>
    </div>
</form>