@{ 
    ViewBag.Title = "შეცდომა";
}
<div class="text-center">
    <div class="rounded p-4">
        <span class="text-danger text-13px">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;წვდომა შეზღუდულია!
        </span>
    </div>
</div>