@model SectionListViewModel
<div>
    <div>
        <form onsubmit="return false;" method="post" data-restore-section="@Model.Id"
              asp-controller="@SectionIndexLink"
              asp-action="restore" enctype="application/x-www-form-urlencoded">
            <input asp-for="Id" />
            <button type="button" onclick="sectionRestore('@Model.Id')" class="btn btn-sm text-11px text-success">
                <i class="fas fa-trash-restore"></i>
            </button>
        </form>
    </div>
</div>
