@model SectionListViewModel
<div class="text-right">
    <button type="button" class="btn btn-sm text-dark text-12px" data-toggle="modal" data-target="#view_section_@Model.Id">
        <i class="fas fa-eye">&nbsp;</i>
    </button>
</div>
<div class="modal fade" id="view_section_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">დეტალური ინფორმაცია</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <label class="text-dark text-12px">
                            კარადის დასახელება: <b>@Model.Name</b>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="text-dark text-12px">
                            სექტორის დასახელება: <b>@Model.SectorName</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary text-12px" data-dismiss="modal">დახურვა</button>
            </div>
        </div>
    </div>
</div>
