@model GenreListViewModel
<div>
    <div>
        <form method="post" data-delete-genre="@Model.Id" asp-controller="genres" asp-action="delete" enctype="application/x-www-form-urlencoded">
            <input asp-for="Id" />
            <button type="button" onclick="genreDelete('@Model.Id')" class="btn btn-sm text-11px text-danger">
                <i class="fas fa-trash"></i>
            </button>
        </form>
    </div>
</div>